<%- include ('../admin/layout/adminheader.ejs') %>
    <!-- End of Topbar -->

    <!-- Button trigger modal -->

    <body>



        <button type="button" class="btn btn-success m-5"><a class="dropdown text-gray-400 text-decoration-none"
                data-toggle="modal" data-target="#addcategoryModal">Add Category</a></button>

        <div class="form-control text-danger">
            <%= msg %>
        </div>



        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                <% var i=1 %>
                    <% category.forEach((element)=> {%>
                        <tr>
                            <td>
                                <%= i%>
                            </td>
                            <td>
                                <%= element.categoryname %>
                            </td>
                            <td>
                                <% if(element.isDeleted===false) { %>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#deletecategoryModal-<%=element._id%>">
                                        Delete
                                    </button>
                                    <% }else{ %>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#deletecategoryModal-<%=element._id%>">
                                            Restore
                                        </button>
                                        <%}%>
                            </td>
                            <div class="modal fade" id="deletecategoryModal-<%=element._id%>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="categoryModal">Delete confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <% if(element.isDeleted===false) { %>
                                            <div class="modal-body">
                                                Are you sure you want to delete <%= element.categoryname %>?
                                            </div>
                                            <% }else{ %>
                                                <div class="modal-body">
                                                    Are you sure you want to restore <%= element.categoryname %>?
                                                </div>
                                                <%}%>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <% if(element.isDeleted===false) { %>
                                                            <a href="/admin/deleteCategory/<%=element._id%>"><button
                                                                    type="button"
                                                                    class="btn btn-danger">Delete</button></a>
                                                            <% }else{ %>
                                                                <a href="/admin/restoreCategory/<%=element._id%>"><button
                                                                        type="button"
                                                                        class="btn btn-primary">Restore</button></a>
                                                                <%}%>
                                                    </div>
                                    </div>
                                </div>
                            </div>


                        </tr>
                        <% i++%>
                            <%})%>

            </tbody>
        </table>









        <!-- Footer -->
        <%- include('../admin/layout/adminfooter.ejs') %>

            <!-- add category modal -->

            <div class="modal fade" id="addcategoryModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addcategoryModal">Add Categoy Name</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <form method="post" action="/admin/categorypost" id="categoryvalidation" onsubmit="return categorySubmitform(event)">
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="Category name" name="mycategory"
                                    id="categorynamevalidation">
                            </div>
                            <div id="categoryvalidationErrorMsg"></div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button type="submit">save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script>
                const categoryvalidationreg = document.querySelector('#categoryvalidation');
                const categorynamevalidation = document.querySelector('#categorynamevalidation');
                const categoryvalidationErrorMsg = document.querySelector('#categoryvalidationErrorMsg');

                function categoryhideErrorMessage() {
                    categoryvalidationErrorMsg.innerHTML = "";
                }

                function categoryShowerrormsg(message) {
                    categoryvalidationErrorMsg.innerHTML = `<div class="alert text-danger " role="alert">${message}</div>`
                    setTimeout(() => {
                        categoryvalidationErrorMsg.innerHTML = `<div></div>`
                    }, 5000);
                }

                function categorySubmitform(e) {

                    if (categorynamevalidation.value.trim() === "") {

                        categoryShowerrormsg("Category name  is Required")
                        return false;
                    }
                    if (!isNaN(categorynamevalidation.value.trim())) {

                        categoryShowerrormsg("category name should be a string");

                        return false;
                    }



                    categoryhideErrorMessage();
                    return true;
                }

                





            </script>





            <%- include('../admin/layout/adminscripts.ejs') %>


    </body>