<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">


        <form method="post" id="registration" action="/admin/editproduct?id=<%= item._id%>">
            
                
            
            <div class="form-group">
                <label for="pname">Product Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="fname" name="pname" value="<%= item.productname%>"  placeholder="Product Name" required>
            </div>
            <div class="form-group">
                <label for="category">Category<span class="text-danger">*</span></label>
                <input type="" class="form-control"  value="<%= item.category.categoryname%>"  disabled>
                <select id="" class="form-control" name="category" value="<%= item.category.categoryname%>" >
                    <option selected disabled>select</option>
                    <% category.forEach(function(category) { %>
                        <option  value="<%= category._id %>">
                            <%= category.categoryname %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <!-- <div class="form-group">
                <label for="category">Sub-category<span class="text-danger">*</span></label>
            
                
                <select id="subcategory-select" class="form-control" name="subcategory" required>
                </select>
            </div> -->
            <div class="form-group">
                <label for="quantity">Quantity<span class="text-danger">*</span></label>
                <input type="number" class="form-control" name="quantity" id="email" placeholder="Quantity" value="<%= item.quantity%>" required>
            </div>
            
            <div class="form-group">
                <label for="discription">Description<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="description" id="spassword" placeholder="Description" value="<%= item.description%>" required>
            </div>
            <div class="form-group">
                <label for="discription">Price<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="price" id="spassword" placeholder="Price" value="<%= item.price%>" required>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Edit Product" class="btn btn-info btn-block">
            </div>
        </form>
</div>


    



<script>

    // document.querySelector("#category-select").addEventListener("change", function () {
    //         const selectedCategory = this.value;
    //         const requestOptions = {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json'
    //             },
    //             body: JSON.stringify(
    //                 {
    //                     category:selectedCategory,
    //                 }
    //             )
    //         }
    //         fetch(window.location.origin+'/admin/getsubcategories',requestOptions).then((res)=>res.json())
            

    //             .then(subcategories => {
    //                 const subcategoryList = document.querySelector("#subcategory-select");
    //                 subcategoryList.innerHTML = "";
    //                 console.log(subcategories);
    //                 subcategories.forEach(subcategory => {
    //                     const option = document.createElement("option");
    //                     option.value = subcategory._id;
    //                     option.textContent = subcategory.subcategoryname;
    //                     subcategoryList.appendChild(option);
    //                 });
                    
    //             }).catch((err)=>{
    //                 console.log("subcategory management error");
    //                 res(window.location.origin+'/admin/error')
    //             })
    //     });

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>