<%- include ('../users/layout/header.ejs') %>



  <section class="h-100 h-custom container-fluid"
    style="background-image: url('');  background-repeat: no-repeat; background-size: cover;">
    <div style="height: 7rem; width: 100%;"></div>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    




                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        <hr class="my-4">
                        <h6 id="itemsCount" class="mb-0 text-muted">
                          <%=countCart %> items
                        </h6>
                      </div>

                      <%if(countCart){%>

                      <% productData.forEach(element=> { %>
                        <hr class="my-4">


                        <div class="row mb-4 d-flex justify-content-between align-items-center" id="<%= element?.productDetail?._id %>proline">


                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img style="height: 3rem; width: 4rem;" src="/<%= element?.productDetail?.image1%>"
                              alt="">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">
                              <%= element?.productDetail?.productname %>
                            </h6>
                            <h6 class="text-black mb-0"></h6>
                          </div>

                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button type="button"
                              onclick="changeQuantityMinus('<%= element._id %>','<%= element?.productDetail?._id %>',-1,'<%=element?.productDetail?.price %>','<%=element?.productQuantity%>')"
                              class="form-control">-
                              <!-- <i class="ion-ios-remove"></i> -->
                            </button>
                            </span>
                         
                              <h5  type="Number" id="<%= element?.productDetail?._id %>" name="quantity"
                                class="quantity form-control input-number " ><%=element?.productQuantity%> </h5>
                                
                            <span class="input-group-btn ">
                              <button type="button"
                                onclick="changeQuantityPlus('<%= element?._id %>','<%= element?.productDetail?._id %>',1,'<%=element?.productDetail?.price %>','<%=element?.productQuantity%>')"
                                class="form-control">+
                                <!-- <i class="ion-ios-add"></i> -->
                              </button>
                          </div>
                          <% var a=element?.productDetail?.price %>
                            <% var b=element.productQuantity %>
                              <% var c=a*b %>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                  <h6 class="mb-0" id="<%= element?.productDetail?._id %>proprice">
                                    <%=c  %>
                                  </h6>
                                  
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                  <a  type="button" onclick="removeProduct('<%= element?._id%>','<%= element?.productDetail?._id%>')"
                                    class="text-muted"><i class="fas fa-times"></i></a>
                                </div>
                        </div>

                        <% }) %>

                          <%}else{%>
                            <h5>Hey there,Your Cart is empty</h5>
                            <% } %>

                              <hr class="my-4">

                              <div class="pt-5">
                                <h6 class="mb-0"><a href="/" class="text-body"><i
                                      class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                              </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey text-white">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 id="itemscount" class="">Items:<%=countCart %>
                      </h5>
                      <h5 id="pricetotal">₹ <%=sum %>
                      </h5>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <h5 id="" class="">Shipping-Charge
                      </h5>
                      <h5 id="">FREE
                      </h5>
                    </div>

               

                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5 id="priceTotal">
                        <%=sum %>
                      </h5>
                    </div>
                    <% if(countCart){ %>
                    <a href="/checkout  "><button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Checkout</button></a>
                    <% } %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div style="height: 8rem; width: 100%;"></div>





  <%- include ('../users/layout/footer.ejs') %>


    <script>



      function changeQuantityPlus(cartId, productId, count,price,quantity) {
        const requestOptions = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(
            {
              cart: cartId,
              product: productId,
              count: count,
              quantity:quantity,
            }
          )
        }

        fetch('/changequantity', requestOptions)
          .then((res) => res.json())
          .then((newdata) => {
            console.log("response in send then");
            console.log(newdata);

            // let quant=Number(quantity);
            if(newdata.zeroQuantity){
              document.getElementById(productId+"proline").remove();
              document.getElementById("pricetotal").innerHTML =newdata.sum;
            document.getElementById("priceTotal").innerHTML =newdata.sum;
            document.getElementById("itemsCount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
            document.getElementById("itemscount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
              
              
            }else{
           
            
            
            
            let nwquantity=newdata.newdata.product[0].quantity; 
            console.log("helloooooo",nwquantity);
            console.log(price);
            console.log(Number(nwquantity*price));
            document.getElementById(productId+"proprice").innerHTML = nwquantity*price;
            document.getElementById(productId).innerHTML =nwquantity;
            document.getElementById("pricetotal").innerHTML =newdata.sum;
            document.getElementById("priceTotal").innerHTML =newdata.sum;
           document.getElementById("itemsCount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
            document.getElementById("itemscount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
            }
          })
          .catch((error) => {
            console.error(error)
          })
      }

      function changeQuantityMinus(cartId, productId, count,price,quantity) {
        const requestOptions = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(
            {
              cart: cartId,
              product: productId,
              count: count,
            }
          )
        }

        fetch('/changequantity', requestOptions)
          .then((res) => res.json())
          .then((newdata) => {
            if(newdata.countCart[0].count==0){
              location.reload();
            }
            console.log("response in send then");

            if(newdata.zeroQuantity){
              document.getElementById(productId+"proline").remove();
              document.getElementById("pricetotal").innerHTML =newdata.sum;
            document.getElementById("priceTotal").innerHTML =newdata.sum;
            document.getElementById("itemsCount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
            document.getElementById("itemscount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`

            }else{
            console.log("response in send then");

            let nwquantity=newdata.newdata.product[0].quantity; 
            console.log(nwquantity);
            console.log(price);
            console.log(newdata.countCart[0].count);
            console.log(Number(nwquantity*price));
            document.getElementById(productId+"proprice").innerHTML = nwquantity*price;
            document.getElementById(productId).innerHTML =nwquantity;
            document.getElementById("pricetotal").innerHTML =newdata.sum;
            document.getElementById("priceTotal").innerHTML =newdata.sum;
            document.getElementById("itemsCount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
            document.getElementById("itemscount").innerHTML =`<div>Items:${newdata.countCart[0].count}</div>`
            }
            
          })
        
          .catch((error) => {
            console.error(error)
          })
      }


      function removeProduct(cartId,productId){
        console.log("add to cart hello")
            const requestOptions={
                method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(
            {
                cartId:cartId,
                productId:productId,
            }
          )
            }
        
        console.log("here   ");
        fetch('/removeproduct',requestOptions)
        .then((res)=>res.json())
        .then((status)=>{
          if(status.countCart==0){
            location.reload();
          }
            console.log(status)
            if(status){

              document.getElementById(productId+"proline").remove();
              document.getElementById("itemsCount").innerHTML =document.getElementById("itemsCount").innerHTML =`<div>Items:${status.countCart}</div>`
              document.getElementById("itemscount").innerHTML =document.getElementById("itemsCount").innerHTML =`<div>Items:${status.countCart}</div>`
               
             
            }
        })
      }




















      // function changeQuantity(cartId, productId, count) {

      //   let quantity = parseInt(document.getElementById(productId).innerHTML);
      //   $.ajax({
      //     url: "/changequantity",
      //     data: {
      //       cart: cartId,
      //       product: productId,
      //       count: count,
      //     },
      //     method: "post",
      //     success: (response) => {
           


      //       location.reload();
      //     },
      //   });
      // }

    </script>

    <%- include ('../users/layout/script.ejs') %>